@import "scss-common.scss";

.wrapper {
  @include flex($d: column, $a: stretch);
  min-height: 100vh;
}
.container {
  display: flex;
  flex: 1;
}
.content_box {
  flex: 1;
  padding: 3rem;
}


footer.footer {
  width: 100%;
  border-top: 1px solid #ddd;
}
