@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  --m-color: #1D4044;
  --p-color: #2C7A7B; }

.com-tab-box .tab-content {
  display: none; }

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh; }

.container {
  display: flex;
  flex: 1; }

.content_box {
  flex: 1;
  padding: 3rem; }

.schedule__calendar {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column; }
  .schedule__calendar .body {
    display: flex;
    flex-direction: column; }
  .schedule__calendar .row {
    display: flex;
    flex: 1; }
  .schedule__calendar .col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }

footer.footer {
  width: 100%;
  border-top: 1px solid #ddd; }
